<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="EFEntities" connectionString="metadata=res://*/EFModelExisting.csdl|res://*/EFModelExisting.ssdl|res://*/EFModelExisting.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TEST;initial catalog=Joe;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <modules>
    <module assemblyFile="Owlsure.DataRepository.dll" moduleType="Owlsure.DataRepository.ModuleDefinitions.MockModule, Owlsure.DataRepository, Version=1.0.0.0" moduleName="DataRepository" startupLoaded="true" />

    <module assemblyFile="Owlsure.DataServices.dll" moduleType="Owlsure.DataServices.ModuleDefinitions.Module, Owlsure.DataServices, Version=1.0.0.0" moduleName="DataServices" startupLoaded="true">
      <dependencies>
        <dependency moduleName="DataRepository" />
      </dependencies>
    </module>

    <module assemblyFile="Owlsure.UI.WpfCounterparty.dll" moduleType="Owlsure.UI.WpfCounterparty.ModuleDefinitions.Module, Owlsure.UI.WpfCounterparty, Version=1.0.0.0" moduleName="WpfCounterparty" startupLoaded="true">
      <dependencies>
        <dependency moduleName="DataServices" />
      </dependencies>
    </module>

    <module assemblyFile="Owlsure.UI.WpfUsage.dll" moduleType="Owlsure.UI.WpfUsage.ModuleDefinitions.Module, Owlsure.UI.WpfUsage, Version=1.0.0.0" moduleName="WpfUsage" startupLoaded="true">
      <dependencies>
        <dependency moduleName="DataServices" />
      </dependencies>
    </module>

    <module assemblyFile="Owlsure.UI.WpfUsageDaily.dll" moduleType="Owlsure.UI.WpfUsageDaily.ModuleDefinitions.Module, Owlsure.UI.WpfUsageDaily, Version=1.0.0.0" moduleName="WpfUsageDaily" startupLoaded="true">
      <dependencies>
        <dependency moduleName="DataServices" />
      </dependencies>
    </module>
  
  </modules>

</configuration>